button {
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  background-color: #003a63;
  cursor: pointer;
  transition: all 0.18s;
  transition: all 0.18s;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

button:hover {
  background-color: #03497a;
}

button a {
  text-decoration: none;
  color: white;
}

main img {
  width: 10rem;
  padding-top: 4rem;
}

main h1 {
  color: #003a63;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

main p {
  padding-bottom: 5rem;
  font-size: 17px;
  color: #535353;
}
